
  
  body {
    text-align: center;
    background-color: rgb(211, 17, 17);
  }
 
  
 #start-button {
    font-size: 20px;
    font-family: 'cerdito';
    font-size: 40px;
    background-color: black;
    color: rgb(211, 17, 17);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display:absolute;
    top:600px;
    left:50px;
  }
  canvas {
    border: 3px solid;
    border-bottom: 0px solid;
  }  

  